.movie-list {
  text-align: center;
	margin: 1rem;
	padding: 0;
}

.movie-box {
  padding: 2rem;
}

.movie-detail {
  border: solid 1px black;
  max-height: 50rem;
  overflow-y: auto;
}

.movie-img {
  display: block;
  margin: 0 auto;
}

.movie-info {
  background: black;
  color: white;
  padding: 1rem;
}

.movie-title {
  font-weight: bold;
  font-size: 1.5rem;
}